.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 50px;

}

.about-page-title {
    background:
        url("./src/images/products.png");
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 70px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    color: rgb(14, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
}

.about-us {
    width: 100%;
    height: 300px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #757683;
    border-radius: 10px;
}

.our-goal {
    width: 100%;
    height: 300px;
    background-color: #757683;
    border-radius: 10px;

}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    margin-top: 30px;
    background-color: #454fdb;
    border-radius: 10px;
}

.goal {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    background-color: #7e82b5;
    border-radius: 10px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.about-us-title {
    justify-content: center;
    align-items: center;
    width: 100%;

    height: 50px;
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.goal-title {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us-text {
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 200px;
    margin: 25px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    ;
}

.goal-text {
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 200px;
    margin: 25px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: white;
    width: 120px;
    margin-top: 30px;
    height: 100px;
    border-radius: 20%;
    background: #252628;
}

.icon-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}