.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 50px;
}

.contact-page-title {
    background:
        url("https://andaccolakbucket.s3.eu-north-1.amazonaws.com/images/products.png");
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 70px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    color: rgb(14, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
}

.contact-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-color: #757683;
    border-radius: 10px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

.contact-form-container {
    display: flex;
    gap: 10px;
    background-color: #757683;


}

.contact-form {
    width: 80%;
    margin: 50px;
    height: 250px;

}

.contact-map {
    width: 90%;
    height: 150px;
    margin-top: 20px;
    margin: 30px;
}

.frame {
    width: 100%;
    height: 400px;
}

.contact-info {
    width: 100%;
    margin: 50px;
    margin-top: 100px;
    height: 150px;

}

.contact-text {
    width: 90%;
    margin-left: 30px;
    height: 130px;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20px;
    gap: 50px;
    width: 90%;
}

.text {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 25px;
}

.text-container {
    width: 100%;
    height: 90%;
    background-color: white;
    font-size: 20px;
    ;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.info-text {
    margin-left: 50px;
    margin-top: -8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.info-icon {
    color: white;
}