.footer-container {
    background-color: #232325;
    color: #fff;
    text-align: center;
    display: flex;
    user-select: none;
    margin-bottom: 15px;
    justify-content: space-between;
    border-radius: 10px;
    width: 1500px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;

}

.footer-info {
    width: 33%;
    height: 300px;

}

.footer-acc {
    width: 33%;
    height: 300px;

}

.footer-contact {
    width: 200px;
    width: 33%;
    height: 300px;

}

.link {
    display: flex;
    margin: 30px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}