.logo {
    width: 250px;
    height: 90px;
    cursor: pointer;
    margin-left: 130px;
    align-self: flex-start;
    color: rgb(107, 107, 244);
    user-select: none;
}


.navbar {

    background-color: #fdfafa;
    border-radius: 10px;
    width: 90%;
    max-width: 1400px;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    border: 1px solid black;
    margin-top: -190px;
    z-index: 999;

    .logo {
        transform: scale(1);
        margin-top: -45px;
    }
}

.navbar-scrolled {
    transition: height 0.5s ease;
    margin-top: -180px;
    opacity: 1;
    transition: height 1s ease;
    height: 60px;

    .navbar-icons {
        transform: scale(0.9);
        transition: transform 0.3s ease;
        margin-top: -1px;
    }

    .searchbar {
        transform: scale(0.9);
        transition: transform 0.3s ease;
        margin-top: -1px;
        user-select: none;
    }



    .logo {
        transition: transform 0.1s ease;
        transform: scale(0.6);
        margin-top: -40px;
    }


}

.icon-p {
    user-select: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    margin: 1px;
}

.icon-p:hover {
    font-weight: 900;
}

.navbar:hover {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.flex-row-navbar {
    display: flex;
    flex-direction: row;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 95px;
    height: 5px;
}

.alt-navbar {
    background-color: #5e6cc4f6;
    opacity: 1;
    height: 130px;
    gap: 210px;
    border-radius: 10px;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    transition: margin-top 0.1s ease;
    margin-top: -180px;
    z-index: 998;
    max-width: 1400px;

}

.alt-navbar-scrolled {
    margin-top: -160px;
    height: 80px;
    transition: opacity 0.5s ease;
    opacity: 1;

    .navbar-link {
        margin-top: 50px;
    }

    .nav-item {
        margin-top: -50px;
    }



}

.navbar-link-admin {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    font-size: 15px;
    opacity: 0.5;
    margin-left: 35px;
    margin-top: 455px;
    margin-bottom: 20px;
    font-weight: 900;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.alt-navbar:hover {
    transition: opacity 0.3s ease;
    opacity: 1;
}



.navbar-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    font-size: 15px;
    opacity: 0.5;
    margin-left: 35px;
    margin-top: 95px;
    margin-bottom: 20px;
    font-weight: 900;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.navbar-link:hover {
    opacity: 1;
}

.nav-item {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 10px 0;
    border-radius: 5px;
    min-width: 150px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    user-select: none;
}

.nav-item:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
    color: #000;
}

.navbar-icons {
    display: flex;
    gap: 25px;
    color: white;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-item p {
    margin: 0;
}

.home-container {
    width: 100%;
    height: 700px;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    background-image: url("./src/images/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0;
    user-select: none;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    user-select: none;
}

.home-title {
    font-size: 3rem;
    font-family: sans-serif;
    color: #000000;
    margin-top: 100px;
    margin-left: 300px;
    width: 110%;
    user-select: none;
}

.home-subtitle {
    font-size: 2rem;
    font-weight: 500;
    width: 110%;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #304956;
    padding: 25px;
    justify-content: center;
    user-select: none;
}

.bg-img {
    width: 1300px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.home-btn {
    background-color: #3340d1d7;
    color: white;
    padding: 16px 20px;
    margin-left: 300px;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 20px;
    font-weight: 900;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
}

.home-btn:hover {
    opacity: 1;
}


.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #7e82b5;
}