.logo {
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-left: 30px;
}

.navbar {
    background-color: #7e82b5;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-link {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    cursor: pointer;
}

.flex-row-navbar {
    display: flex;
    flex-direction: row;

}

.navbar-icons {
    display: flex;
    gap: 15px;
    cursor: pointer;
    color: white;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-input {
    border: none;
    border-radius: 5px solid lightgray;
    padding: 5px;
    width: 200px;
    max-width: 100%;
    outline: none;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px;
        gap: 10px;
    }

    .navbar-input {
        width: 120px;
    }

    .logo {
        padding-left: 20px;
    }

    .navbar-link {
        padding: 0 10px;
    }
}