.product-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  background-color: #7e82b5;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image-wrapper {
  flex: 0 0 30%;
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.product-info {
  flex: 1;
  margin-left: 20px;
}

.detail-button {
  display: flex;
  justify-content: space-between;
}

.plus-minus {
  display: flex;
  margin: 10px;
  font-size: 30px;
  width: 150px;
  height: 70px;

}

.counter-icon {
  font-size: 50px;
  cursor: pointer;
}

.detail-counter {
  display: flex;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-weight,
.product-price {
  font-size: 1rem;
}

.product-description {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.add-to-cart-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.cart-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}