.product-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  background-color: #7e82b5;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image-wrapper {
  flex: 0 0 30%;
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.product-info {
  flex: 1;
  margin-left: 20px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-adetFiyat {
  font-size: 1rem;
}

.product-description {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* "Sepete Ekle" butonu ve +/- sayacı tutan kapsayıcı */
.detail-counter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  /* Altında tabloya biraz boşluk bırakmak için */
}

.plus-minus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
  font-size: 24px;
}

.counter-icon {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-value {
  min-width: 30px;
  text-align: center;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.add-to-cart-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.adetFiyat-table-wrapper {
  width: 100%;
  max-width: 600px;
  /* Üstten ve alttan boşluk */
}

.adetFiyat-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.adetFiyat-table thead th {
  background-color: #3354da;
  font-weight: bold;
  padding: 0.75rem;
}

.adetFiyat-table th,
.adetFiyat-table td {
  border: 1px solid #2712b1;
  padding: 0.75rem;
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    width: 90%;
  }

  .product-image-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .product-info {
    margin-left: 0;
  }

  .product-title {
    font-size: 1.1rem;
  }

  .product-description {
    font-size: 0.8rem;
    color: black;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 95%;
    padding: 10px;
  }

  .product-title {
    font-size: 1rem;
  }

  .product-adetFiyat {
    font-size: 20px !important;
  }

  .product-description {
    font-size: 0.8rem;
    color: black;
  }

  .plus-minus {
    gap: 5px;
  }

  .counter-icon {
    font-size: 32px;
  }

  .adetFiyat-table-wrapper {
    max-width: 50%;
    margin: 0 auto;
    padding: 0 0.5rem;
  }

  .adetFiyat-table th,
  .adetFiyat-table td {
    font-size: 0.6rem;
    padding: 0.5rem;
  }

  .add-to-cart-button {
    padding: 8px 15px;
    font-size: 0.7rem;
    width: 80px;
  }
}